/* HEADER DIV */

#header {
  /*header color*/
  background-color: #0f1116;
  color: #C5C6C7;
  /*header position*/
  padding: 20px;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left side: Logo + Name */
#left-nav {
  display: flex;
  align-items: center;
}
/* Right side: Links */
#nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  font-size: 1.20rem;
}
/* hover effect */
#nav-links li:hover {
  color: #66FCF1;
  font-weight: bold;
}
#nav-links li {
  cursor: pointer;
}

#left-nav img {
  height: 50px;
}

/* BODY DIV - controls how section stay inline together*/
body {
  margin: 0;
  padding: 0;
  /* body color*/
  background-color: #0B0C10;
  color: #C5C6C7;
  font-weight: 400;
}
.page-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Styling of blocks */
#about-me,
#Education,
#Courses,
#Skills {
  background-color: #1F2833;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(69, 162, 158, 0.1);
}

/* Section headers */
#IntroTop h2,
#EducationHeader,
#CoursesHeader,
#SkillsHeader {
  color: #66FCF1;
  font-weight: 700;
}

/* About Me Section */
#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 14px;
  margin-bottom: 40px;
}

#intro {
  line-height: 1.6;
}
#IntroTop{
  margin-bottom: -2rem;
}
#greeting{
  font-size: 2rem;
}

/* Education Section*/
#EducationHeader {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}
#SchoolHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
#SchoolCreds {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin-top: 4px;
}
.credential {
  margin: 0;
}

#Honors {
  margin-top: 12px;

}
#Honors p {
  margin-bottom: 0;
}
#Honors ul {
  margin: 0;
  padding-left: 1.2em;
  margin-bottom: 3rem;
}


/* courses Me Section */
#CoursesHeader{
  font-size: 1.25rem;
  font-weight: bold;
}
#CoursesDiv{
  display: flex;
  justify-content: flex-start;
  gap: 10rem;
  border-radius: 8px;
}
#CoursesDiv ul{
  padding: 10px 10px 10px 20px; /* t,r,b,l */
}

/* Skills Section */
#SkillsDiv{
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
}
#SkillsHeader{
  font-size: 1.25rem;
  font-weight: bold;
}


/* Work HTML CSS */
/* Skills Section */
#project-page-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;   /* Horizontal center */
  justify-content: center; /* Vertical center */
}

#grid{
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 350px 350px;
  column-gap: 2rem;
  row-gap: 2rem;
}

#GridHeader{
  font-size: 1.50rem;
  color: #66FCF1;
  margin-bottom: 2rem;
}

#Portfolio,
#ParkingPal,
#JQMail,
#House{
  background-color: #1F2833;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(69, 162, 158, 0.1);

}
#Portfolio img,
#ParkingPal img,
#JQMail img,
#House img{
  width: 90px; 
  margin-top: 0px; 
}

.blockHeader {
  font-size: 1.3rem; 
  margin-bottom: 12px;
}

.blockDesc {
  font-size: 1.1rem; 
  margin-bottom: 25px; 
}

/* GitHub button */
.githubBTN {
  background: #45A29E20; /* light transparent teal */
  border: 1px solid #45A29E;
  color: #45A29E;
  font-size: 1.05rem; 
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  transition: transform 0.2s ease;
}

.githubBTN:hover {
  background: #45A29E;
  color: white;
}


/* Contact HTML CSS */
/* Contact Header section*/
#Contact {
  background-color: #1F2833;
  border-radius: 10px;
  padding: 0px 0px 20px 0px;
  margin: 20px;
  color: #C5C6C7;
  box-shadow: 0 0 10px rgba(69, 162, 158, 0.1);
  width: auto;
}
.page-wrapper-Contact {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
 
}
#ContactHeader {
  color: #66FCF1;
  text-align: center;
  font-size: 1.50rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Conatct Info Section */
.email {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 18px;
}
.number {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 18px;
}
.icon {
  width: 25px;
}
hr {
  border: none;
  height: 3px;
  background-color: #66FCF1;
  border-radius: 2px;
  margin: 20px auto;
  width: 60%;
}
/* Social Section*/
#SocialHeader {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
#socials {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.logo {
  width: 50px;
  transition: transform 0.2s;
}
.logo:hover {
  transform: scale(1.1);
}

#DownloadBtn {
  margin-top: 2rem;
  margin-left: 11.5rem;
  height: 3rem;
  font-weight: bold;

  background: #45A29E20; /* light transparent teal */
  border: 1px solid #45A29E;
  color: #45A29E;
  font-size: 1.05rem; 
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  transition: transform 0.2s ease;
}

#DownloadBtn:hover {
  background: #45A29E;
  color: white;
}


/* CSS based off Class*/
.profilePic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}