/* HEADER DIV */

#header {
  background-color: rgba(0, 0, 0, 0.897);
  color: white;
  padding: 20px;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left side: Logo + Name */
#left-nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

#left-nav img {
  height: 50px;
}

#nametitle {
  font-size: 1.5rem;
  margin: 0;
}

/* Right side: Links */
#nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

#nav-links li {
  cursor: pointer;
}

/* body - controls how section stay inline together*/
body {
  margin: 0;
  padding: 0;
}
.page-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* About Me Section */
#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 14px;
  margin-bottom: 40px;
}
#profilePic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
#intro {
  line-height: 1.6;
}
#IntroTop{
  margin-bottom: -2rem;
}

/* Education */
#Education {

}

#EducationHeader {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}
#SchoolHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
#SchoolCreds {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin-top: 4px;
}
.credential {
  margin: 0;
}
#GPA,
#Honors {
  margin-top: 12px;
}
#Honors p {
  margin-bottom: 0;
}
#Honors ul {
  margin: 0;
  padding-left: 1.2em;
  margin-bottom: 3rem;
}


/* courses Me Section */
#CoursesHeader{
  font-size: 1.25rem;
  font-weight: bold;
}
#CoursesDiv{
  display: flex;
  justify-content: flex-start;
  gap: 10rem;
}
#CoursesDiv ul{
  border-color: black;
  border-width: 1px;
  border-style: ridge;
  padding: 10px 10px 10px 20px; /* t,r,b,l */
}

/* Skills Section */
#SkillsDiv{
  display: flex;
  flex-wrap: wrap;
}

#SkillsHeader{
  font-size: 1.25rem;
  font-weight: bold;
}